img.cartProductItemIfSelected,
img.selectAllItem {
  cursor: pointer;
}
tr.cartProductItemTR {
  border: 1px solid #cccccc;
}
div.cartProductChangeNumberDiv {
  border: solid 1px #e5e5e5;
  width: 80px;
}
table.cartProductTable {
  width: 100%;
  font-size: 12px;
}
span.cartProductItemOringalPrice {
  text-decoration: line-through;
  color: #9c9c9c;
  display: block;
  font-weight: bold;
  font-size: 14px;
}
div.cartProductChangeNumberDiv input {
  border: solid 1px #aaaaaa;
  width: 42px;
  display: inline-block;
}
div.cartProductChangeNumberDiv a {
  text-decoration: none;
}
img.cartProductImg {
  padding: 1px;
  border: 1px solid #eeeeee;
  width: 80px;
  height: 80px;
}
a.cartProductLink {
  color: #3c3c3c;
}
a.cartProductLink:hover {
  color: #c40000;
  text-decoration: underline;
}
div.cartProductLinkOutDiv {
  position: relative;
  height: 80px;
}
span.cartSumNumber {
  color: #c40000;
  font-weight: bold;
  font-size: 16px;
}
tr.cartProductItemTR td {
  padding: 20px 20px;
}
span.cartSumPrice {
  color: #c40000;
  font-weight: bold;
  font-size: 20px;
}
span.cartProductItemPromotionPrice {
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  color: #c40000;
}
span.cartProductItemSmallSumPrice {
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  color: #c40000;
}
span.cartTitlePrice {
  color: #c40000;
  font-size: 14px;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 3px;
}
div.cartProductLinkInnerDiv {
  position: absolute;
  bottom: 0;
  height: 20px;
}
div.cartTitle button {
  background-color: #aaaaaa;
  border: 1px solid #aaaaaa;
  color: white;
  width: 53px;
  height: 25px;
  border-radius: 2px;
}
div.cartFoot {
  background-color: #e5e5e5;
  line-height: 50px;
  margin: 20px 0px;
  color: black;
  padding-left: 20px;
}
div.cartFoot button {
  background-color: #aaaaaa;
  border: 0px solid #aaaaaa;
  color: white;
  height: 100%;
  width: 120px;
  height: 50px;
  font-size: 20px;
  text-align: center;
}
table.cartProductTable th {
  font-weight: normal;
  color: #3c3c3c;
  padding: 20px 20px;
}
table.cartProductTable th.selectAndImage {
  width: 200px;
}
table.cartProductTable th.operation {
  width: 30px;
}
div.cartDiv {
  max-width: 1013px;
  margin: 10px auto;
  color: black;
}
